*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navigation a {
    margin: 0 1rem;
}

.splashContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full p {
    width: min(85vw, 800px);
    margin: 2rem 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.content .box {
    margin: 1rem;
    flex: 0 2 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content .box .imgBox {
    width: 320px;
    height: 200px;
    overflow: hidden;
}

footer {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .links {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .links a {
    margin: 0 1rem;
}